################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Investo.Api/bin/Debug/net8.0/Investo.Api.dll
/Investo.Api/bin/Debug/net8.0/Investo.Api.exe
/Investo.Api/bin/Debug/net8.0/Investo.Api.pdb
/Investo.Api/bin/Debug/net8.0/Investo.BusinessLogic.dll
/Investo.Api/bin/Debug/net8.0/Investo.BusinessLogic.pdb
/Investo.Api/bin/Debug/net8.0/Investo.DataAccess.dll
/Investo.Api/bin/Debug/net8.0/Investo.DataAccess.pdb
/Investo.Api/obj/Debug/net8.0/ref/Investo.Api.dll
/Investo.Api/obj/Debug/net8.0/refint/Investo.Api.dll
/Investo.Api/obj/Debug/net8.0/apphost.exe
/Investo.Api/obj/Debug/net8.0/Investo.Api.AssemblyInfo.cs
/Investo.Api/obj/Debug/net8.0/Investo.Api.AssemblyInfoInputs.cache
/Investo.Api/obj/Debug/net8.0/Investo.Api.csproj.AssemblyReference.cache
/Investo.Api/obj/Debug/net8.0/Investo.Api.csproj.FileListAbsolute.txt
/Investo.Api/obj/Debug/net8.0/Investo.Api.dll
/Investo.Api/obj/Debug/net8.0/Investo.Api.GeneratedMSBuildEditorConfig.editorconfig
/Investo.Api/obj/Debug/net8.0/Investo.Api.pdb
/Investo.Api/obj/Debug/net8.0/Investo.Api.sourcelink.json
/Investo.BusinessLogic/bin/Debug/net8.0/Investo.BusinessLogic.dll
/Investo.BusinessLogic/bin/Debug/net8.0/Investo.BusinessLogic.pdb
/Investo.BusinessLogic/bin/Debug/net8.0/Investo.DataAccess.dll
/Investo.BusinessLogic/bin/Debug/net8.0/Investo.DataAccess.pdb
/Investo.BusinessLogic/obj/Debug/net8.0/ref/Investo.BusinessLogic.dll
/Investo.BusinessLogic/obj/Debug/net8.0/refint/Investo.BusinessLogic.dll
/Investo.BusinessLogic/obj/Debug/net8.0/Investo.BusinessLogic.AssemblyInfo.cs
/Investo.BusinessLogic/obj/Debug/net8.0/Investo.BusinessLogic.AssemblyInfoInputs.cache
/Investo.BusinessLogic/obj/Debug/net8.0/Investo.BusinessLogic.csproj.AssemblyReference.cache
/Investo.BusinessLogic/obj/Debug/net8.0/Investo.BusinessLogic.dll
/Investo.BusinessLogic/obj/Debug/net8.0/Investo.BusinessLogic.pdb
/Investo.BusinessLogic/obj/Debug/net8.0/Investo.BusinessLogic.sourcelink.json
/Investo.DataAccess/bin/Debug/net8.0/Investo.DataAccess.dll
/Investo.DataAccess/bin/Debug/net8.0/Investo.DataAccess.pdb
/Investo.DataAccess/obj/Debug/net8.0/ref/Investo.DataAccess.dll
/Investo.DataAccess/obj/Debug/net8.0/Investo.DataAccess.AssemblyInfo.cs
/Investo.DataAccess/obj/Debug/net8.0/Investo.DataAccess.AssemblyInfoInputs.cache
/Investo.DataAccess/obj/Debug/net8.0/Investo.DataAccess.dll
/Investo.DataAccess/obj/Debug/net8.0/Investo.DataAccess.pdb
/Investo.DataAccess/obj/Debug/net8.0/Investo.DataAccess.sourcelink.json
/Investo.DataAccess/obj/Debug/net8.0/refint/Investo.DataAccess.dll
/Investo.Api/obj/Debug/net8.0/EndpointInfo/Investo.Api.json
/Investo.Api/obj/Debug/net8.0/ApiEndpoints.json
/Investo.Api/obj/Debug/net8.0/Investo.Api.csproj.CoreCompileInputs.cache
/Investo.BusinessLogic/obj/Debug/net8.0/Investo.BusinessLogic.csproj.CoreCompileInputs.cache
